h1 {
    color: #B30838;
}

p {
    color: #B30838;
}

h2 {
    color: lightgoldenrodyellow;
}


.appContainer {
    display: flex;
    flex-direction: column;
    background-color: #00234F;
}
.appHeading{
    margin: 10px;
    display: flex;
    flex: max-content;
    justify-content: space-between;
}

.weekController {
    display: flex;
    justify-content: space-between;

}